# famCHESS Cleaning EDA

Kendra Wyant

## Notes

This script reads in the cleaned famCHESS data and performs EDA on final variables.

## Setup

In [ ]:
options(conflicts.policy = "depends.ok")
suppressMessages(library(tidyverse))
suppressMessages(library(janitor))
library(Matrix, exclude = c("expand", "pack", "unpack"))
library(lme4)
theme_set(theme_classic()) 

devtools::source_url("https://github.com/jjcurtin/lab_support/blob/main/format_path.R?raw=true")

ℹ SHA-1 hash of file is "a58e57da996d1b70bb9a5b58241325d6fd78890f"

## Data

### Cleaning

In [ ]:
data <- haven::read_sav(here::here(path_data, "Famchess_clean_combined_FINAL.sav")) |> 
  clean_names() 

dsm <- haven::read_sav(here::here(path_data, "FamCHESS_DSM5.sav")) |> 
  clean_names() # for stratification check

Change labeled classes to factor, clean up names, and merge data

In [ ]:
data <- data |> 
  mutate(dyad = sjlabelled::as_label(dyad, keep.labels = TRUE),
         arm = sjlabelled::as_label(arm, keep.labels = TRUE),
         group = sjlabelled::as_label(group, keep.labels = TRUE),
         time = sjlabelled::as_label(time, keep.labels = TRUE),
         gender = sjlabelled::as_label(gender, keep.labels = TRUE),
         edu = sjlabelled::as_label(edu, keep.labels = TRUE),
         ethnicity = sjlabelled::as_label(ethnicity, keep.labels = TRUE),
         income = sjlabelled::as_label(income, keep.labels = TRUE),
         partner_relationship = sjlabelled::as_label(partner_relationship, 
                                                     keep.labels = TRUE),
         employment = sjlabelled::as_label(employment, keep.labels = TRUE),
         meetings_yn = sjlabelled::as_label(meetings_yn, keep.labels = TRUE),
         outpatient_yn_ever = sjlabelled::as_label(outpatient_yn_ever, 
                                                   keep.labels = TRUE),
         other_psych_treatment_yn = 
           sjlabelled::as_label(other_psych_treatment_yn,
                                keep.labels = TRUE),
         er_yn_ever = sjlabelled::as_label(er_yn_ever, keep.labels = TRUE),
         mat_yn = sjlabelled::as_label(mat_yn, keep.labels = TRUE),
         healthservice_6 = sjlabelled::as_label(healthservice_6, 
                                                keep.labels = TRUE),
         inpatient_yn_ever = sjlabelled::as_label(inpatient_yn_ever, 
                                                  keep.labels = TRUE),
         r_eadmits_yn = sjlabelled::as_label(r_eadmits_yn, keep.labels = TRUE),
         relationship_status = sjlabelled::as_label(relationship_status, 
                                                    keep.labels = TRUE)) |> 
  rename(readmits_yn = r_eadmits_yn,
         other_medications_yn = healthservice_6)


data <- data |> 
  left_join(dsm |> 
              mutate(dsm5_criteria = 
                       sjlabelled::as_label(dsm5_criteria,
                                            keep.labels = TRUE)) |> 
              select(study_id, dsm5_criteria), by = "study_id")

Remove participants with inaccurate data (from Olivia’s script):

-   167PT (baseline and 4 month): FAM passed away after baseline
-   208FAM & 208PT (noted on all timepoints): Might be wholly unreliable since we suspect he is his own partner
-   365PT (noted on 1 timepoint): Answered relationship questions about her dog, not her son
-   365FAM (noted on 1 timepoint): Answered relationship questions about romantic partner, not his mom

In [ ]:
data <- data |> 
  filter(!study_id %in% c("167PT", "208FAM", "208PT", "365PT", "365FAM"))

195PT: reported prefer not to say for gender on baseline but reported male in TLFB data. Changing to male to match TLFB.

In [ ]:
data <- data |> 
  mutate(gender = if_else(study_id == "195PT", "Man", gender))

Gender - 2 levels (male / non-male) - TLFB is also coded this way

-   500PT: non-binary
-   128FAM: Transgender women

In [ ]:
data <- data |> 
  mutate(gender_original = factor(gender), 
         gender = if_else(gender != "Man", "non-male", "male"),
         gender = factor(gender, levels = c("non-male", "male")))

tabyl(data$gender_original)

 data$gender_original   n     percent valid_percent
                  Man 580 0.424908425   0.426157237
           Non-binary   4 0.002930403   0.002939015
    Transgender woman   2 0.001465201   0.001469508
                Woman 775 0.567765568   0.569434240
                 <NA>   4 0.002930403            NA

 data$gender   n     percent valid_percent
    non-male 781 0.572161172     0.5738428
        male 580 0.424908425     0.4261572
        <NA>   4 0.002930403            NA

Create binary covariate for race/ethnicity defined as: White only (non-Hispanic) vs. not White only

In [ ]:
data <- data |> 
  mutate(race_white_only = as.factor(if_else(ethnicity == "No" & race_1 == 1 &
                                     race_2 == 0 & race_3 == 0 &
                                     race_4 == 0 & race_5 == 0 &
                                     race_6 == 0, "Yes", "No")))

tabyl(data$race_white_only)

 data$race_white_only    n     percent valid_percent
                   No  335 0.245421245     0.2461425
                  Yes 1026 0.751648352     0.7538575
                 <NA>    4 0.002930403            NA

Recode data to have baseline scores of outcomes as variables for covariates

In [ ]:
baseline_values <- data |>  
  filter(time == "Baseline") |> 
  select(study_id, 
         hdd_0 = per_heavy_drink_days, 
         pda_0 = per_days_abstinent, 
         oq45_0 = oq45_scored, 
         relationsatisf_0 = relationsatisf_scored, 
         abuse_0 = abuse_scored)

data <- data |> 
  filter(time != "Baseline") |> 
  full_join(baseline_values, by = "study_id")

36 study_ids provided baseline info but no data at later time points - remove study_ids

*Ask PIs about removing corresponding dyad (53 participants in total). Given that we removed patient due to partner passing away after baseline I am removing corresponding dyad.*

In [ ]:
baseline_values |> 
  filter(!study_id %in% subset(data, time != "Baseline")$study_id) |> 
  print(n = Inf)

# A tibble: 36 × 6
   study_id hdd_0 pda_0 oq45_0 relationsatisf_0 abuse_0
   <chr>    <dbl> <dbl>  <dbl>            <dbl>   <dbl>
 1 110PT    100     0       25               25      NA
 2 111PT     30.6  44.6     50               26      NA
 3 117FAM    NA    NA       32               18      NA
 4 119FAM    NA    NA       29               27       3
 5 119PT     98.3   0.8     64               25      NA
 6 121PT     33.9  66.1     68               31      26
 7 125PT     26.4  73.6     74               21      NA
 8 130FAM    NA    NA       94               23       7
 9 130PT     99.2   0.8    109               25       2
10 139PT      9.2  90.8     80               21      NA
11 140FAM    NA    NA       61               20      NA
12 148FAM    NA    NA       70               17       4
13 148PT     99.2   0.8     74               18       2
14 149PT     75    23.3     30               25      NA
15 155FAM    NA    NA       35               17       2
16 155PT     NA    NA       70               14      NA
17 156FAM    NA    NA       14               20      NA
18 167FAM    NA    NA       15               14      NA
19 181PT     44.7   2.4     45               20       3
20 190FAM    NA    NA       30               17      NA
21 190PT      3.3   0       48               19      NA
22 198PT     29.2   7.5     33               27      NA
23 199PT     14.9  83.5     57               27      NA
24 203FAM    NA    NA       63               21       1
25 203PT     60.3  39.7     28               24      NA
26 205FAM    NA    NA       28               24      NA
27 205PT     79.3  20.7     45               24      NA
28 209PT     53.3  32.5     52               20       1
29 303FAM    NA    NA       54               21      21
30 303PT     43.3  56.7    110               24      19
31 314FAM    NA    NA       81               14      24
32 314PT     45.5  54.5    124               17      36
33 315FAM    NA    NA       71               10       8
34 337FAM    NA    NA       95               18      NA
35 358FAM    NA    NA       81               15      10
36 362FAM    NA    NA       28               28      NA

In [ ]:
dyad_ids <- baseline_values |> 
  mutate(dyad_id = str_sub(study_id, 1, 3)) |> 
  filter(!study_id %in% subset(data, time != "Baseline")$study_id) |> 
  pull(dyad_id) |> 
  unique()
  
data |> 
  mutate(dyad_id = str_sub(study_id, 1, 3)) |> 
  filter(dyad_id %in% dyad_ids) |> 
  select(study_id, dyad_id) |> 
  unique() |> 
  arrange(dyad_id) |> 
  print(n = Inf)

# A tibble: 53 × 2
   study_id dyad_id
   <chr>    <chr>
 1 110FAM   110
 2 110PT    110
 3 111FAM   111
 4 111PT    111
 5 117PT    117
 6 117FAM   117
 7 119FAM   119
 8 119PT    119
 9 121FAM   121
10 121PT    121
11 125FAM   125
12 125PT    125
13 130FAM   130
14 130PT    130
15 139FAM   139
16 139PT    139
17 140PT    140
18 140FAM   140
19 148FAM   148
20 148PT    148
21 149FAM   149
22 149PT    149
23 155FAM   155
24 155PT    155
25 156PT    156
26 156FAM   156
27 167FAM   167
28 181FAM   181
29 181PT    181
30 190FAM   190
31 190PT    190
32 198FAM   198
33 198PT    198
34 199FAM   199
35 199PT    199
36 203FAM   203
37 203PT    203
38 205FAM   205
39 205PT    205
40 209FAM   209
41 209PT    209
42 303FAM   303
43 303PT    303
44 314FAM   314
45 314PT    314
46 315PT    315
47 315FAM   315
48 337PT    337
49 337FAM   337
50 358PT    358
51 358FAM   358
52 362PT    362
53 362FAM   362

### EDA

Remove vars not used in analyses (e.g., keep scale score and remove individual items).

*COVID acute/residual symptoms was originally listed as covariate but was removed per measures doc (Participants interpreted question differently).*

*readmits_yn removed as potential covariate due to low variability per measures doc.*

*phq, promis, alcohol problems, loneliness, coping, interaction scales not scored or in measures doc. Removed from analyses data set. From Kasey: My understanding is that the measures document lists the scale items that will be our primary/secondary outcomes, mediators, and moderators. I think we scored those in the data set as exploratory items but not what we will be looking at directly for this paper.*

In [ ]:
data <- data |> 
  select(-c(treatmentskills_1:treatmentskills_18_recode,
            oq45_1:oq45_45, alcoholproblems_1:alcoholproblems_15, 
            relationsatisf_1:relationsatisf_8, phq_1:phq_8, 
            abuse_1:abuse_16_yes, promis29_1:promis29_8, 
            abuse_physical_scored:abuse_psychological_scored, gender_open,
            loneliness_1:loneliness_8, healthservice_1, healthservice_2,
            healthservice_3,healthservice_4,healthservice_5, 
            healthservice_5a_1:healthservice_5c, 
            healthservice_6a_1:healthservice_8a, healthservice_8b, 
            healthservice_9a, healthservice_9b, bonding_1:bonding_5, 
            socrates_1:socrates_20, coping_1:coping_25, 
            drinkinggoals:drinkinggoal_7_text, covid_1:covid_3f,
            interaction_1:interaction_20, drink_druguse_1:drinkdruguse_8d,
            employmentstatus:notemployed_open, ethnicity:race_open, 
            livewith_1:livewith_open, er_yn, outpatient_yn, 
            inpatient_yn, n_days, mean_drinks_per_day, per_drink_days, 
            covid_scored,redcap_event_name, recruitment_id, 
            socrates_recognition_scored, socrates_ambivalence_scored, readmits_yn)) |> 
  relocate(study_id) |> 
  glimpse()

Rows: 928
Columns: 39
$ study_id                 <chr> "100FAM", "100FAM", "100FAM", "100PT", "100PT…
$ dyad                     <fct> Partner, Partner, Partner, Patient, Patient, …
$ arm                      <fct> ACHESS, ACHESS, ACHESS, ACHESS, ACHESS, ACHES…
$ group                    <fct> ACHESS Partner, ACHESS Partner, ACHESS Partne…
$ time_string              <chr> "4 Month", "8 Month", "12 Month", "12 Month",…
$ time                     <fct> 4 Month, 8 Month, 12 Month, 12 Month, 4 Month…
$ comments                 <chr> "", "", "", "", "", "", "", "", "", "", "", "…
$ gender                   <fct> non-male, non-male, non-male, male, male, mal…
$ age                      <dbl> 55, 55, 55, 56, 56, 56, 62, 62, 62, 66, 66, 6…
$ edu                      <fct> "Some college or 2 year degree", "Some colleg…
$ income                   <fct> "$35,000 to $49,999", "$35,000 to $49,999", "…
$ partner_relationship     <fct> Romantic partner/spouse, Romantic partner/spo…
$ employment               <fct> Yes, Yes, Yes, Yes, Yes, Yes, No, No, No, No,…
$ days_app_use             <dbl> NA, NA, NA, 8, 32, 12, NA, NA, NA, NA, NA, NA…
$ per_days_abstinent       <dbl> NA, NA, NA, 0.0, 0.0, 0.0, NA, NA, NA, 98.5, …
$ per_heavy_drink_days     <dbl> NA, NA, NA, 100.0, 90.8, 100.0, NA, NA, NA, 1…
$ meetings_yn              <fct> No, No, No, No, No, No, No, Yes, No, Yes, Yes…
$ outpatient_yn_ever       <fct> No, No, No, No, No, No, No, No, No, No, No, N…
$ other_psych_treatment_yn <fct> No, No, No, No, No, No, No, No, No, Yes, No, …
$ er_yn_ever               <fct> No, No, No, No, No, No, No, No, No, No, No, N…
$ mat_yn                   <fct> No, No, No, No, No, No, No, No, No, No, No, N…
$ other_medications_yn     <fct> No, No, No, No, No, No, No, No, No, Yes, No, …
$ inpatient_yn_ever        <fct> No, No, No, No, No, No, No, No, No, No, No, N…
$ relationship_status      <fct> "Still together (e.g., as a romantic couple, …
$ relationship_status_open <chr> "", "", "", "", "", "", "", "", "", "", "", "…
$ oq45_scored              <dbl> 48, 58, 64, 48, 68, 70, 26, 37, 40, 44, 44, 5…
$ relationsatisf_scored    <dbl> 15, 9, 30, 24, 22, 20, 30, 29, 32, 25, 25, 23…
$ abuse_scored             <dbl> 4, 7, 8, 15, 4, 2, 4, 0, 2, 0, NA, NA, 2, 11,…
$ treatmentskills_scored   <dbl> 2.888889, 2.722222, 3.277778, NA, NA, NA, 3.0…
$ peersupport_scored       <dbl> 3.4, 2.6, 2.8, 2.4, 2.2, 2.8, 2.8, 3.6, 2.4, …
$ socrates_scored          <dbl> NA, NA, NA, 33, 34, 24, NA, NA, NA, 39, 37, 3…
$ dsm5_criteria            <fct> NA, NA, NA, Severe (6 or more symptoms), Seve…
$ gender_original          <fct> Woman, Woman, Woman, Man, Man, Man, Woman, Wo…
$ race_white_only          <fct> No, No, No, No, No, No, Yes, Yes, Yes, Yes, Y…
$ hdd_0                    <dbl> NA, NA, NA, 100.0, 100.0, 100.0, NA, NA, NA, …
$ pda_0                    <dbl> NA, NA, NA, 0.0, 0.0, 0.0, NA, NA, NA, 93.4, …
$ oq45_0                   <dbl> 53, 53, 53, 60, 60, 60, 79, 79, 79, 71, 71, 7…
$ relationsatisf_0         <dbl> 21, 21, 21, 19, 19, 19, 32, 32, 32, 24, 24, 2…
$ abuse_0                  <dbl> 9, 9, 9, 2, 2, 2, 17, 17, 17, 8, 8, 8, 5, 5, …

`time_string` matches `time` - remove `time_string`

In [ ]:
data |> 
  tabyl(time, time_string)

     time 12 Month 4 Month 8 Month
 Baseline        0       0       0
  4 Month        0     328       0
  8 Month        0       0     315
 12 Month      285       0       0

Number of participants

In [ ]:
data |> 
  pull(study_id) |>
  unique() |> 
  length() # 340

[1] 340

[1] 170

[1] 170

Complete dyad (patient + partner) for all participants

In [ ]:
data |> 
  select(study_id) |> 
  unique() |> 
  mutate(dyad_id = str_sub(study_id, 1, 3)) |> 
  group_by(dyad_id) |> 
  count() |> 
  filter(n != 2)

# A tibble: 0 × 2
# Groups:   dyad_id [0]
# ℹ 2 variables: dyad_id <chr>, n <int>

Missing data

In [ ]:
data |> 
  naniar::miss_var_summary() |> 
  print(n = Inf)

# A tibble: 38 × 3
   variable                 n_miss pct_miss
   <chr>                     <int>    <num>
 1 abuse_scored                680   73.3
 2 abuse_0                     538   58.0
 3 per_days_abstinent          498   53.7
 4 per_heavy_drink_days        498   53.7
 5 socrates_scored             493   53.1
 6 treatmentskills_scored      479   51.6
 7 dsm5_criteria               467   50.3
 8 hdd_0                       464   50
 9 pda_0                       464   50
10 days_app_use                455   49.0
11 other_medications_yn         42    4.53
12 mat_yn                       39    4.20
13 peersupport_scored           39    4.20
14 meetings_yn                  36    3.88
15 other_psych_treatment_yn     36    3.88
16 relationship_status          35    3.77
17 oq45_scored                  35    3.77
18 relationsatisf_scored        35    3.77
19 income                       15    1.62
20 age                           6    0.647
21 gender                        3    0.323
22 edu                           3    0.323
23 partner_relationship          3    0.323
24 employment                    3    0.323
25 gender_original               3    0.323
26 race_white_only               3    0.323
27 oq45_0                        3    0.323
28 relationsatisf_0              3    0.323
29 study_id                      0    0
30 dyad                          0    0
31 arm                           0    0
32 group                         0    0
33 time                          0    0
34 comments                      0    0
35 outpatient_yn_ever            0    0
36 er_yn_ever                    0    0
37 inpatient_yn_ever             0    0
38 relationship_status_open      0    0

Missing data for just patients

-   `treatmentskills` not applicable to patients
-   `days_app_use` *Note from Kasey: For the days of app use it would only be for participants who received the app (we had three study arms, one where both PT and FAM recieved the app, one where only the PT received the app and one where neither received the app), so 50% is the MOST we should have of app use since half of the participants weren’t able to get the app.*  
-   `abuse_scored`/`abuse_0` *Note from Kasey - They should only have a score if they said “yes” to having experienced abuse, so missing data would mean they had not experienced any.*

In [ ]:
data |> 
  filter(dyad == "Patient") |> 
  naniar::miss_var_summary() |> 
  print(n = Inf)

# A tibble: 38 × 3
   variable                 n_miss pct_miss
   <chr>                     <int>    <num>
 1 treatmentskills_scored      464  100
 2 abuse_scored                370   79.7
 3 abuse_0                     291   62.7
 4 days_app_use                151   32.5
 5 per_days_abstinent           34    7.33
 6 per_heavy_drink_days         34    7.33
 7 other_medications_yn         30    6.47
 8 mat_yn                       29    6.25
 9 socrates_scored              29    6.25
10 peersupport_scored           28    6.03
11 meetings_yn                  26    5.60
12 other_psych_treatment_yn     26    5.60
13 relationship_status          25    5.39
14 oq45_scored                  25    5.39
15 relationsatisf_scored        25    5.39
16 income                       12    2.59
17 age                           6    1.29
18 gender                        3    0.647
19 edu                           3    0.647
20 partner_relationship          3    0.647
21 employment                    3    0.647
22 dsm5_criteria                 3    0.647
23 gender_original               3    0.647
24 race_white_only               3    0.647
25 oq45_0                        3    0.647
26 relationsatisf_0              3    0.647
27 study_id                      0    0
28 dyad                          0    0
29 arm                           0    0
30 group                         0    0
31 time                          0    0
32 comments                      0    0
33 outpatient_yn_ever            0    0
34 er_yn_ever                    0    0
35 inpatient_yn_ever             0    0
36 relationship_status_open      0    0
37 hdd_0                         0    0
38 pda_0                         0    0

Missing data for partners

In [ ]:
data |> 
  filter(dyad == "Partner") |> 
  naniar::miss_var_summary() |> 
  print(n = Inf)

# A tibble: 38 × 3
   variable                 n_miss pct_miss
   <chr>                     <int>    <num>
 1 per_days_abstinent          464  100
 2 per_heavy_drink_days        464  100
 3 socrates_scored             464  100
 4 dsm5_criteria               464  100
 5 hdd_0                       464  100
 6 pda_0                       464  100
 7 abuse_scored                310   66.8
 8 days_app_use                304   65.5
 9 abuse_0                     247   53.2
10 treatmentskills_scored       15    3.23
11 other_medications_yn         12    2.59
12 peersupport_scored           11    2.37
13 meetings_yn                  10    2.16
14 other_psych_treatment_yn     10    2.16
15 mat_yn                       10    2.16
16 relationship_status          10    2.16
17 oq45_scored                  10    2.16
18 relationsatisf_scored        10    2.16
19 income                        3    0.647
20 study_id                      0    0
21 dyad                          0    0
22 arm                           0    0
23 group                         0    0
24 time                          0    0
25 comments                      0    0
26 gender                        0    0
27 age                           0    0
28 edu                           0    0
29 partner_relationship          0    0
30 employment                    0    0
31 outpatient_yn_ever            0    0
32 er_yn_ever                    0    0
33 inpatient_yn_ever             0    0
34 relationship_status_open      0    0
35 gender_original               0    0
36 race_white_only               0    0
37 oq45_0                        0    0
38 relationsatisf_0              0    0

Participants in each arm

In [ ]:
data |> 
  group_by(study_id) |> 
  slice(1) |> 
  tabyl(arm)

                arm   n   percent
 Smartphone Control 108 0.3176471
             ACHESS 118 0.3470588
           FAMCHESS 114 0.3352941

Check stratification variables in arms

patient gender identity

In [ ]:
data |> 
  filter(dyad == "Patient") |> 
  group_by(study_id) |> 
  slice(1) |> 
  tabyl(arm, gender)

                arm non-male male NA_
 Smartphone Control       22   31   1
             ACHESS       26   33   0
           FAMCHESS       23   34   0

alcohol use severity (moderate or severe AUD vs mild)

In [ ]:
data |> 
  filter(dyad == "Patient") |>
  mutate(dsm5_criteria = if_else(dsm5_criteria == "Mild (2-3 symptoms)", 
                                 "Mild", "Moderate/Severe")) |> 
  group_by(study_id) |> 
  slice(1) |> 
  tabyl(arm, dsm5_criteria)

                arm Mild Moderate/Severe NA_
 Smartphone Control    1              52   1
             ACHESS    0              59   0
           FAMCHESS    1              56   0

Study Notes

In [ ]:
data |> 
  filter(!comments == "") |> 
  pull(comments)

 [1] "Missing TLFB"
 [2] "Missing TLFB"
 [3] "Missing survey data"
 [4] "Missing TLFB"
 [5] "Missing TLFB"
 [6] "Exclude TLFB. 120pt is the one who had a traumatic brain injury, Dave and I both did their 4 month survey on accident because the participant didn't remember doing it. They gave different answers"
 [7] "Missing TLFB"
 [8] "Missing TLFB"
 [9] "TLFB complete but data was lost"
[10] "Missing TLFB"
[11] "Missing survey data"
[12] "Missing TLFB"
[13] "Missing survey data"
[14] "Missing survey data"
[15] "Missing survey data"
[16] "Missing survey data"
[17] "Missing survey data"
[18] "Missing TLFB"
[19] "Missing TLFB"
[20] "TLFB complete but data was lost"
[21] "Missing survey data"
[22] "Missing survey data"
[23] "Missing survey data"
[24] "Missing TLFB"
[25] "Missing TLFB"
[26] "Missing TLFB"
[27] "disinterested, rushed, vague during timeline followbacks"
[28] "disinterested, rushed, vague during timeline followbacks"
[29] "disinterested, rushed, vague during timeline followbacks"
[30] "Missing TLFB"
[31] "Missing TLFB"
[32] "Missing TLFB"
[33] "Missing TLFB"
[34] "Missing TLFB"
[35] "Missing TLFB"
[36] "Missing TLFB"
[37] "Missing TLFB"
[38] "Missing survey data"
[39] "Missing survey data"
[40] "Unreliable answers, was drunk during survey"
[41] "Unreliable answers, was drunk during survey"
[42] "Unreliable answers, was drunk during survey"
[43] "Missing survey data"
[44] "Missing survey data"
[45] "Note, only 53 days between 4 and 8 month survey"
[46] "Note, only 37 days between 4 and 8 month survey"
[47] "during qualitative interview, said partner was just their friend"
[48] "during qualitative interview, said partner was just their friend"
[49] "during qualitative interview, said partner was just their friend"
[50] "during qualitative interview, said partner was just their friend"
[51] "during qualitative interview, said partner was just their friend"
[52] "during qualitative interview, said partner was just their friend"
[53] "TLFB complete but data was lost"
[54] "Missing survey data"
[55] "Missing survey data"
[56] "TLFB complete but data was lost"
[57] "Missing survey data"
[58] "Missing survey data"
[59] "Missing TLFB"
attr(,"format.spss")
[1] "A5000"
attr(,"display_width")
[1] 186

Income

In [ ]:
tabyl(data$income)

          data$income   n    percent valid_percent
    Less than $25,000 177 0.19073276    0.19386637
   $25,000 to $34,999  57 0.06142241    0.06243154
   $35,000 to $49,999  91 0.09806034    0.09967141
   $50,000 to $74,999 192 0.20689655    0.21029573
   $75,000 to $99,999 160 0.17241379    0.17524644
 $100,000 to $149,999 144 0.15517241    0.15772180
 $150,000 to $199,999  65 0.07004310    0.07119387
     $200,000 or more  27 0.02909483    0.02957284
                 <NA>  15 0.01616379            NA

Partner relationship

In [ ]:
tabyl(data$partner_relationship)

 data$partner_relationship   n     percent valid_percent
   Romantic partner/spouse 614 0.661637931   0.663783784
                    Parent  74 0.079741379   0.080000000
               Adult child  73 0.078663793   0.078918919
       Other family member  98 0.105603448   0.105945946
                    Friend  63 0.067887931   0.068108108
            Recovery Coach   3 0.003232759   0.003243243
                      <NA>   3 0.003232759            NA

Employment

In [ ]:
tabyl(data$employment)

 data$employment   n     percent valid_percent
              No 315 0.339439655     0.3405405
             Yes 610 0.657327586     0.6594595
            <NA>   3 0.003232759            NA

Relationship status with partner

In [ ]:
tabyl(data$relationship_status)

                                           data$relationship_status   n
 Still together (e.g., as a romantic couple, as family, as friends) 762
                Split up but still working on this project together  62
                  Split up and not working on this project together  24
                                                              Other  45
                                                               <NA>  35
    percent valid_percent
 0.82112069    0.85330347
 0.06681034    0.06942889
 0.02586207    0.02687570
 0.04849138    0.05039194
 0.03771552            NA

 [1] "Still friends but he is unsure how much if at all she is using the app"
 [2] "parent"
 [3] "None"
 [4] "None"
 [5] "Not seeing"
 [6] "Little contact"
 [7] "work schedules collide"
 [8] "I talk to monthly. He's not too engaged in this."
 [9] "On our way to splitting up"
[10] "Going through break up"
[11] "She is going to leave me"
[12] "excellent, open, honest"
[13] "excellent"
[14] "still working on the project together"
[15] "Support member"
[16] "Mutual"
[17] "Had split up now moving back together this month"
[18] "Still together but really struggling"
[19] "Limited communication and I couldn't access anything after the 8 month survey, thought maybe we had been removed from the study?"
[20] "father/daughter"
[21] "Steady friends"
[22] "Just friends"
[23] "Sister"
[24] "N/A"
[25] "Mother and daughter"
[26] "not good"
[27] "We are cousin we are still working on her recovery"
[28] "estranged but working on this project together"
[29] "She's still my mother"
[30] "Continue to be very close friend"
[31] "Daughter we're fine"
[32] "Temporarily broken up but still living together hoping she can get the drinking under control which will determine if we try to work things out"
[33] "Split up but still working on getting back together and dealing with the alcohol use but in a better place."
[34] "friends"
[35] "Not talking for the last few months"
attr(,"label")
[1] "Other"
attr(,"format.spss")
[1] "A1000"
attr(,"display_width")
[1] 128

univariate descriptives of covariates, mediators, moderators and outcome variables

In [ ]:
data |> 
  select(age, edu, days_app_use:abuse_0, -gender_original, 
         -relationship_status, - relationship_status_open) |> 
  skimr::skim()

  ----------------------------------------------------------------------------------------------------------------
  skim_variable              n_missing   complete_rate    mean      sd   p0     p25     p50     p75   p100 hist
  ------------------------ ----------- --------------- ------- ------- ---- ------- ------- ------- ------ -------
  age                                6            0.99   47.62   13.59   21   37.00   47.50   58.00     89 ▅▇▇▃▁

  days_app_use                     455            0.51   41.14   38.05    0    6.00   32.00   74.00    161 ▇▃▃▂▁

  per_days_abstinent               498            0.46   60.96   37.45    0   29.98   71.05   98.20    100 ▅▂▂▃▇

  per_heavy_drink_days             498            0.46   24.20   33.27    0    0.00    5.65   34.35    100 ▇▂▁▁▂

  oq45_scored                       35            0.96   55.33   25.33    0   37.00   54.00   71.00    140 ▃▇▆▂▁

  relationsatisf_scored             35            0.96   21.64    6.40    0   18.00   22.00   26.00     36 ▁▂▆▇▃

  abuse_scored                     680            0.27    4.40    7.35    0    1.00    2.00    6.00     72 ▇▁▁▁▁

  treatmentskills_scored           479            0.48    3.11    0.51    1    2.83    3.13    3.47      4 ▁▁▃▇▅

  peersupport_scored                39            0.96    2.92    1.17    1    2.00    2.80    3.80      5 ▆▇▇▅▅

  socrates_scored                  493            0.47   32.36    7.06   10   28.00   33.00   39.00     40 ▁▁▃▅▇

  hdd_0                            464            0.50   49.00   36.11    0   16.30   42.10   88.70    100 ▇▆▃▃▇

  pda_0                            464            0.50   37.48   33.84    0    1.67   33.30   67.80    100 ▇▂▂▃▂

  oq45_0                             3            1.00   59.71   24.41    4   41.00   58.00   75.00    133 ▂▇▇▃▁

  relationsatisf_0                   3            1.00   22.52    5.01    4   20.00   23.00   26.00     35 ▁▂▇▇▂

  abuse_0                          538            0.42    4.45    4.55    0    1.00    3.00    6.75     24 ▇▃▁▁▁
  ----------------------------------------------------------------------------------------------------------------

Bivariate correlations with **Patient Primary Outcome** `per_heavy_drink_days`

In [ ]:
cor_patient <- data |> 
  filter(dyad == "Patient") |> 
  select(per_heavy_drink_days, gender:race_white_only, 
         -c(relationship_status_open, gender_original, treatmentskills_scored)) |> 
  mutate(across(where(is.factor), as.numeric)) |> 
  cor(use = "pairwise.complete.obs") |> 
  round(2)

cor_patient[,1]

    per_heavy_drink_days                   gender                      age
                    1.00                    -0.03                     0.03
                     edu                   income     partner_relationship
                   -0.13                    -0.19                    -0.06
              employment             days_app_use       per_days_abstinent
                   -0.03                    -0.14                    -0.75
             meetings_yn       outpatient_yn_ever other_psych_treatment_yn
                   -0.12                    -0.10                    -0.07
              er_yn_ever                   mat_yn     other_medications_yn
                   -0.08                     0.01                    -0.02
       inpatient_yn_ever      relationship_status              oq45_scored
                   -0.08                     0.03                     0.30
   relationsatisf_scored             abuse_scored       peersupport_scored
                   -0.12                    -0.04                    -0.23
         socrates_scored            dsm5_criteria          race_white_only
                   -0.43                    -0.09                    -0.06

Bivariate correlations with **Partner Primary Outcome** `oq45_scored`

In [ ]:
cor_partner <- data |> 
  filter(dyad == "Partner") |> 
  select(oq45_scored, gender:race_white_only, 
         -c(relationship_status_open, gender_original, 
            socrates_scored, dsm5_criteria, per_days_abstinent, 
            per_heavy_drink_days)) |> 
  mutate(across(where(is.factor), as.numeric)) |> 
  cor(use = "pairwise.complete.obs") |> 
  round(2)

cor_partner[,1]

             oq45_scored                   gender                      age
                    1.00                    -0.01                    -0.13
                     edu                   income     partner_relationship
                   -0.18                    -0.09                    -0.11
              employment             days_app_use              meetings_yn
                    0.07                    -0.14                     0.04
      outpatient_yn_ever other_psych_treatment_yn               er_yn_ever
                    0.12                     0.19                     0.05
                  mat_yn     other_medications_yn        inpatient_yn_ever
                    0.09                     0.26                     0.16
     relationship_status    relationsatisf_scored             abuse_scored
                   -0.01                    -0.42                     0.36
  treatmentskills_scored       peersupport_scored          race_white_only
                   -0.20                    -0.01                     0.00

### Save out processed data for analyses

In [ ]:
data |> 
  write_csv(here::here(path_data, "famchess_data_ana.csv"))